@model UStoreMVC.Data.EF.Product

@{
    ViewBag.Title = "Delete" + Model.Name;
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete: <span class="myWarning">@Model.Name</span>?</h3>
<div style="display:inline-block">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="display:inline-block;">
            <input type="submit" value="Yes" class="btn btn-primary" /> 
            @Html.ActionLink("No", "Index",null,new { @class = "btn btn-danger" })
        </div>
    }
    </div>
