@{
    ViewBag.Title = "About";
}


<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url('/Content/images/woolpoofs.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1 class="AboutUs">About Our Company</h1>
                        <h2 class="AboutUsSub">Fluffy Elegance</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-about">
    <div class="container">
        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-6">
                    <div class="desc">
                        <h3 class="AboutUs">Company History</h3>
                        <p class="CompanyHistoryStory">Thirteen years ago, we were selling our wares door to door, relying on trade shows and word of mouth to get our products into the homes of our wonderful customers.  We never thought a simple idea of creating quality pet hair creations would become the business it is today.</p>
                        <p class="CompanyHistoryStory">It's Everywhere grew from a few handfuls of pet hair being sold daily to a thriving chic decor company with thousands in sales daily.  Our products are gracing households across the globe. We strive for quality and look forward to creating new products and continuing to grow.</p>
                    </div>
                    <div class="desc">
                        <h3 class="AboutUs">Our Mission</h3>
                        <p class="CompanyHistoryStory">We believe through our sales we can make a difference.  A portion of our sales benefits animals everywhere in the prevention of poaching and habitat destruction.</p>
                        <p class="CompanyHistoryStory">We have donated thousands to these charities and with our customers help we hope to lessen our impact on the world little by little.  As our product line grows, so will our contribution to charity.</p>
                    </div>
                </div>
                <!-- image to right of mission & company statements -->
                <div class="col-md-6">
                    <img class="img-responsive" 
                    src="~/Content/images/product/blueblanket.jpg" alt="blue blanket with pet hair">
                </div>
            </div>
        </div>
    </div>
</div>
