
@{
    ViewBag.Title = "FAQ";
}


<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url('/Content/images/question-mark-1872665_1920.jpg');">
    <div>
        <span class="background-image" role="img" aria-label="Black and red question marks on dark background" longdesc="Image by Arek Socha from Pixabay"></span>
    </div>
    <div class="overlay" id="faqcontainer"></div>
    <div class="container" id="faqcontainer">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>Frequently Asked Questions</h1>
                        <h2>We do our best to anticipate our our exquisite clientele’s questions, however if your question is not listed below please use our contact form.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ***** ACCORDION ***** -->
<section container="accordion" class="accordionsection" heightStyle="fill">
    <div container="accordion" id="accordion" class="accordion">
        <h3 class="accordion">Is Edifurble gluten free? fat free?</h3>
        <div>
            <p class="accordion">Edifurble is gluten free, fat free and sugar free.  It is all natural, no preservatives. Edifurble contains no trans-fat or cholesterol. </p>
        </div>
        <h3 class="accordion">How do you evenly distribute the pet hair?</h3>
        <div>
            <p class="accordion">The easiest way to distribute the pet hair is to give it a good shake, toss it around a bit and the hairs will loosen and fall as you move around.  If you want to really spread it around quickly toss it into a ceiling fan a few times or use a hair drying to blow it everywhere.  The Fur Ritzy can be spread by leaf blower or lawn mower in addition to shaking it or throwing it around.  Be creative, there is no wrong way to cover your land and home with our products.</p>
        </div>
        <h3 class="accordion">I recently purchased By the Boot and there was a beetle in it</h3>
        <div>
            <p class="accordion">The earthy appeal of By the Boot does carry the chance of the occasional insect hitchhiker. Do not be alarmed the insects that may be found in By the Boot tend to be harmless.  If you happen to find an extra critter in your product here are a few suggestions on what to do:</p>
            <ul class="accordion">
                <li>Rejoice in your new pet and set it up in a fancy new home</li>
                <li>Give to the host of the next party you attend.</li>
                <li>Order more By the Boot and try to find your bug a friend</li>
            </ul>
        </div>
        <h3 class="accordion">Where does the pet hair / fur come from?</h3>
        <div>
            <p class="accordion">It comes from animals of course.  No animals are harmed in the making of our products.  The fur is harvested on a regular basis through natural shedding or brushing.</p>
        </div>
        <h3 class="accordion">What is your return policy?</h3>
        <div>
            <p class="accordion">We allow for returns up to 45 days of original purchase.  Please request a return label and gather up at least 85% of the pet hair to be eligible for a refund or store credit.</p>
        </div>

    </div>
</section>


