<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UStoreMVC.Data.Linq.Properties.Settings.uStoreConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=uStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>